div[class^=ex-],img[class^=ex-]{
    transition: 2s;
}
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
    animation: rotate 1s linear infinite}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* ---Codice Personale--- */

/* Esercizio-1 */
.ex-1-square:hover{
    background-color: red;
}

/* Esercizio-2 */
.ex-2-square:active{
    width: 100%;
}

/* Esercizio-3 */
.ex-3-square:hover{
    border-radius: 50%;
}

/* Esercizio-4 */
.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio-5 */
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(.5);
}

/* Esercizio-6 */
.ex-6-img:hover{
    filter:grayscale(100%);
}

/* Esercizio-7 */
.ex-7-img:hover{
    filter: sepia(50%) grayscale(50%);
}


/* Esercizio-8 */
.ex-8-img:hover{
    filter: sepia(50%) grayscale(50%);
    border-radius: 20px;
}


/* Esercizio-9 */
.ex-9-img:hover{
    filter: sepia(50%) grayscale(50%);
    border-radius: 20px;
    transform: scale(1.5);
}


/* Esercizio-10 */
@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}


/* Esercizio-11 */
.ex-11-icon:hover{
    animation: rotate-270 2s ease-out;
}
@keyframes rotate-270{
    0%{
        transform: rotate(0deg);
    }
    70%{transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/* Esercizio-12 */
.ex-12-button:hover .ex-12-top-white{
    animation: translate-top 2s ease-in-out;
}
@keyframes translate-top{
    0%{
        left: 10%;
    }
    50%{
    left: 69%;
    }
    100%{
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: translate-bottom 2s ease-in-out;
}
@keyframes translate-bottom{
    0%{
        right: 20%;
    }
    50%{
    right: 69%;
    }
    100%{
        right: 20%;
    }
}

/* Esercizio-13 */
.ex-13-button:hover .ex-13-top-white{
    animation: translate-top2 5s ease-in-out;
}
@keyframes translate-top2{
    0%{
        left: 10%;
    }
    20%{
    left: 80%;
    top: -10px;
    }
    40%{
        left: 80%;
        top: 50px;
    }
    60%{
        left: -10%;
        top: 50px;

    }    
    80%{
        left: -10%;
        top: -10px;
    }
    100%{
        left: 10%;
    }
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: translate-bottom2 5s ease-in-out;
}
@keyframes translate-bottom2{
    0%{
        right: 20%;
    }
    20%{
    right: 80%;
    bottom: -10px;
    }
    40%{
        right: 80%;
        bottom: 50px;
    }
    60%{
        right: -10%;
        bottom: 50px;

    }    
    80%{
        right: -10%;
        bottom: -10px;
    }
    100%{
        right: 20%;
    }
}





